.pink{
    background-color:rgb(252, 220, 225)
}

.blue{
    background-color: rgb(187, 221, 235);
}

.cream{
    background-color: rgb(240, 221, 198);
}

.grey{
    background-color:rgb(211, 216, 221);
}