.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.task li{
  height: 30px;
  width: 320px;
  margin-top: 5px;
  margin-left: 100px;
  padding: 10px;
  font-size: 20px;
  background-color: white;
}
#main-task h1{
  text-align: center;
}

#main-task{
  height: 300px;
  width: 600px;
  padding: 20px;
  background-color: rgba(0, 255, 76, 0.454);
  margin: 100px auto;
}
.todo{
  margin: auto;
  height: auto;
  width:700px;
  border: 100px solid rgb(0, 0, 189);
  background-color: #282c34;
  border-radius: 10px;

}
  .mainto{
    
  display: flex;
  margin: 300px 0px 0px 100px ;

  }
#names{
  height: 50px;
  width: 400px;
  margin-bottom: 40px;

}
#buttonadd{
  height: 55px;
  width: 100px;
}
.tebletodo{
    margin: auto ;
    margin-top: 100px;

}
.bkgtodo{
  height: 10px;
  width: 200px;
  background: linear-gradient(to right,rgb(0, 13, 255),rgb(0, 157, 255));
  color: white;
  border: none;
}
